@use 'mixins';
@use 'extends';
@use 'sass-customized';

/* -----------------------------------------------------------------
                    Qui sommes-nous header
 ----------------------------------------------------------------- */

.header-image--about-us {
  @extend %header-image;
  background-image: url(../assets/images/stack-books.jpg);

}

.information-top {
  background-color: $tertiary-blue;

  .container{
    flex-direction: column;
  }
}

.information-bottom {
  display: flex;
  flex-direction: row;
  gap: 2em;

  .information-bottom-left {
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
  }

  .information-bottom-right {
    width: 40%;
    justify-content: flex-end;
    background-color: $primary-blue;
    text-align: center;
    padding: 2em;
    color: $light-blue;

    h3 {
      font-family: "Great Vibes", cursive;
      font-size: 2em;
      color: $light-blue;
      letter-spacing: 0.2rem;
    }

    ul {
      padding: 0;
      margin-bottom: 0;

      a {
        color: $secondary-blue;
        font-weight: 200;
        font-size: 1.1rem;

        @include hover(
          "background-color",
          $primary-blue,
          "color",
          $primary-red
        );
      }

      li {
        span {
          &:last-child {
            font-weight: 200;
            font-size: 1.1rem;
          }
        }
        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &:first-child {
          font-size: 1.3em;
          color: $primary-red;
          font-weight: 200;
        }
      }
    }
  }
}

/* -------------------------------------------------------
                   About us responsive
---------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 1200px) {
  .header-image--about-us {
    height: 20em;
  }

  h1 {
    font-size: 2em;
  }

  .introduction {
    padding: 2em 3em;
  }

  .information-bottom {
    flex-direction: column;

    .information-bottom-left,
    .information-bottom-right {
      width: 100%;
      max-width: 100%;
    }
  }
}
