/* -----------------------------------------------------------------
                        Books header
 ----------------------------------------------------------------- */

.books {
    background-image: url(../assets/images/book-magic.jpg);
    background-position: center;

    h1 {
        top: 10%;
    }

    p {
        top: 18%;
    }

    &::before {
        display: none;
    }
}

/* -------------------------------------------------------
                Books header responsive
---------------------------------------------------------*/

/* Media queries for xs, sm, and md screens */
@media (min-width: 320px) and (max-width: 768px) {
    .header-image {
        background-size: cover;
        height: 25em;

        h1 {
            top: 10%;
        }

        p {
            top: 22%;
        }
    }

    .introduction {
        p {
            text-align: left;
            margin-top: 1em;
            padding: 0;
        }
    }
}
/* -------------------------------------------------------
                    Books header end
---------------------------------------------------------*/
/* -------------------------------------------------------
                        Les livres
---------------------------------------------------------*/
.books-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    height: auto;
    width: 100%;

    .article-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        border: 1px solid $dark-blue;
        padding: 1em;
        gap: 2em;

        &:first-child {
            margin-top: 4em;
        }

        .product-img {
            img {
                height: auto;
                width: 12em;
                vertical-align: middle;
            }
        }

        .product-info {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            width: calc(70% - 12em);
            height: 100%;

            h2 {
                text-align: start;
                font-weight: 500;
                font-size: 1.5em;
                margin: 0;
                padding: 0;
            }

            p {
                text-align: start;
                font-weight: 400;
                line-height: 1.5em;
                text-align: justify;
                padding: 0.5em 0;

                span {
                    font-weight: 200;
                    font-size: 0.8em;
                    display: block;
                    line-height: 1.2em;
                }
            }

            .product-description {
                p {
                    font-weight: 200;
                    margin: 1em 0;
                }
            }

            .more-info {
                color: $primary-red;
                font-weight: 500;
                font-size: 1.2em;

                @include hover("color", $secondary-blue, "text-decoration", none);
            }
        }

        .product-price {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            width: 30%;
            height: auto;
            border-left: 1px solid $primary-blue;
            padding: 3em 2em;

            p {
                text-align: start;
                font-weight: 700;
                line-height: 1.5em;
                text-align: justify;
                padding: 0.5em 0;
                color: $primary-red;
                font-size: 2em;

                span {
                    font-weight: 200;
                    font-size: 0.5em;
                    display: block;
                    line-height: 1.5em;

                    &:first-child {
                        margin-top: 1em;
                    }

                    i {
                        margin-right: 0.5em;
                    }
                }
            }

            .btn-primary {
                text-align: start;
                margin-top: 2em;

                i {
                    margin-right: 0.5em;
                }

                @include hover("background-color", $secondary-blue,"color", $primary-blue);
            }
        }
    }

    .pagination {
        display: inline-block;
        margin-bottom: 4em;
      
        a {
          color: $dark-blue;
          float: left;
          padding: 8px 16px;
          text-decoration: none;
      
          &.active {
            background-color: $primary-blue;
            color: $light-blue;
            border-radius: 5px;
          }
      
          &:hover:not(.active) {
            background-color: $secondary-blue;
            border-radius: 5px;
          }
        }
      }      
}
/* -------------------------------------------------------
                Les livres responsive
---------------------------------------------------------*/
/* Media queries for xs, sm, and md screens */
@media (min-width: 320px) and (max-width: 768px) {
    .books-container {
        .article-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: auto;
            border: 1px solid $dark-blue;

            .product-img {
                img {
                    height: auto;
                    width: 16em;
                }
            }

            .product-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                p {
                    text-align: center;
                }

                .product-description {
                    text-align: center;
                }
            }

            .product-price {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: space-between;
                width: 100%;
                border-top: 1px solid $primary-blue;
                border-left: none;
                padding: 0.5em;
                margin-top: 1em;

                p {
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    font-weight: 700;
                    line-height: 1.3em;
                    padding: 0.5em 0;
                    color: $primary-red;
                    font-size: 2em;

                    span {
                        font-weight: 200;
                        font-size: 0.9rem;
                        display: block;
                        line-height: 1.7em;

                        &:first-child {
                            margin-top: 1em;
                        }
                    }
                }

                .btn-primary {
                    text-align: center;
                }
            }
        }
    }

    .pagination {
        font-size: 0.8em;

        a{
            padding: 6px 12px;
        }
    }
}

@media (min-width: 769px) and (max-width: 1332px) {
    .books-container {
        .article-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 90%;
            height: auto;
            border: 1px solid $dark-blue;

            .product-img {
                img {
                    height: auto;
                    width: 15em;
                    vertical-align: middle;
                }
            }

            .product-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                p {
                    text-align: center;
                }

                .product-description {
                    text-align: center;
                }
            }

            .product-price {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: space-between;
                width: 100%;
                border-top: 1px solid $primary-blue;
                border-left: none;
                padding: 1em;
                margin-top: 1em;

                p {
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    font-weight: 700;
                    line-height: 1.3em;
                    padding: 0.5em 0;
                    color: $primary-red;
                    font-size: 2em;

                    span {
                        font-weight: 200;
                        font-size: 0.5em;
                        display: block;
                        line-height: 1.7em;

                        &:first-child {
                            margin-top: 1em;
                        }
                    }
                }

                .btn-primary {
                    text-align: center;
                }
            }
        }
    }
}

/* -------------------------------------------------------
                    Les livres end
---------------------------------------------------------*/
