@use 'mixins';
@use 'extends';
@use 'sass-customized';

/* -----------------------------------------------------------------
                      Contact header
 ----------------------------------------------------------------- */

.header-image--contact {
  @extend %header-image;
  background-image: url(../assets/images/contact-image.jpg);

}

/* -----------------------------------------------------------------
                        Contact icons
 ----------------------------------------------------------------- */
.contact-icons-container {
    background-color: $primary-blue;
    width: 100%;
    height: 40em;
}

.contact-icons {
    @extend %advantage-icons;
}