html,
body {
    font-family: "Poppins", sans-serif;
}

/* -------------------------------------------------------
                        Header
---------------------------------------------------------*/

.header-image {
    position: relative;
    height: 720px;
    width: 100%;
    background-image: url(../assets/images/textbook.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    h1 {
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $light-blue;
        font-family: "Chelsea Market", system-ui;
        font-weight: bold;
        font-size: 2.8rem;
        z-index: 2;
    }

    p {
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $light-blue;
        font-size: 1.2rem;
        z-index: 3;
    }

    .btn-primary {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        clip-path: polygon(14% 0, 100% 0, 100% 38%, 34% 53%, 0 24%);
        z-index: 1;

        box-shadow: $box-shadow-primary;
        -webkit-box-shadow: $box-shadow-primary;
        -moz-box-shadow: $box-shadow-primary;

        background: linear-gradient(to bottom,
                rgba(240, 84, 85, 0.5),
                rgba(132, 192, 225, 0.5),
                rgba(48, 71, 94, 0.5));
    }
}

/* -------------------------------------------------------
                 Header responsive
---------------------------------------------------------*/

/* Media queries for xs, sm, and md screens */
@media (min-width: 320px) and (max-width: 768px) {
    .header-image {
        background-position: top;
        background-size: contain;

        h1 {
            top: 3%;
            font-size: 1.4rem;
            width: 100%;
        }

        p {
            top: 10%;
            font-size: 0.7rem;
            width: 90%;
        }

        .btn-primary {
            top: 17%;
            text-align: center;
            font-size: small;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &::before {
            clip-path: polygon(0 0, 100% 0, 100% 16%, 50% 25%, 5% 16%);
            width: 100%;
            padding: 1em;

            background: linear-gradient(to top,
                rgba(240, 84, 85, 0.5),
                rgba(132, 192, 225, 0.5),
                rgba(48, 71, 94, 0.5));
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header-image {

        h1 {
            top: 12%;
            font-size: 2.5rem;
            width: 100%;
        }

        p {
            top: 25%;
            font-size: 1.5rem;
            width: 80%;
        }

        .btn-primary {
            top: 38%;
            text-align: center;
            font-size: larger;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &::before {
            width: 95%;
            padding: 1em;
        }
    }
}