html,
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
}

.square-right {
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
}

.square-left {
  display: flex;
  justify-content: flex-start;
  bottom: 0;
  left: 0;
}


/* -------------------------------------------------------
                  Responsive styles
---------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 1200px) {
    .square-right,
    .square-left {
        height: 5em;
    }
}