@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -----------------------------------------------------------------
                            Edit page
 ----------------------------------------------------------------- */

.edit-content {
    @include d-flex(flex, center, center, column, center);
    height: auto;
    width: 100%;
  
    .edit-title {
      h1 {
        margin: 1em 0;
      }
    }
  
    .message {
      color: $primary-red;
      margin-bottom: 1em;
    }

    .edit-form{
        @include d-flex(flex, center, center, column, center);
    }
}
