@use 'mixins';
@use 'sass-customized';


/* -------------------------------------------------------
                Define extend for header image
---------------------------------------------------------*/
%header-image {
    position: relative;
    height: 45em;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    h1 {
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $light-blue;
        font-family: "Chelsea Market", system-ui;
        font-weight: bold;
        font-size: 3rem;
        z-index: 2;
        text-shadow: $text-shadow-primary;
    }

    p {
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $light-blue;
        font-size: 1.3rem;
        font-weight: 300;
        z-index: 3;
    }
}

/* -------------------------------------------------------
        Define extend for information bottom
---------------------------------------------------------*/
%information-bottom {
    display: flex;
    flex-direction: row;
    gap: 2em;
  
    .information-bottom-left {
      width: 100%;
      max-width: 100%;
      justify-content: flex-start;
    }
  
    .information-bottom-right {
      width: 40%;
      justify-content: flex-end;
      background-color: $primary-blue;
      text-align: center;
      padding: 2em;
      color: $light-blue;
  
      h3 {
        font-family: "Great Vibes", cursive;
        font-size: 2em;
        color: $light-blue;
        letter-spacing: 0.2rem;
      }
  
      ul {
        padding: 0;
        margin-bottom: 0;
  
        a {
          color: $secondary-blue;
          font-weight: 200;
          font-size: 1.1rem;
  
          @include hover("background-color",
            $primary-blue,
            "color",
            $primary-red );
        }
  
        li {
          span {
            &:last-child {
              font-weight: 200;
              font-size: 1.1rem;
            }
          }
  
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
  
          &:first-child {
            font-size: 1.3em;
            color: $primary-red;
            font-weight: 200;
          }
        }
      }
    }
  }
  

  


@forward '%header-image';
@forward '%information-bottom';