@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -------------------------------------------------------
                Forgot your password page
---------------------------------------------------------*/

.login-container {
    h1{
        margin-bottom: 1em;
    }

    .login-content {
        p {
            color: $primary-blue;
            margin-top: 1em;
            font-size: 1.2em;
            font-weight: 500;
            font-size: 1em;
        }

        .login-form{

            label{
                color: $primary-blue;
                font-weight: 500;
                margin-bottom: 1em;
            }

            input {
                width: 100%;
                padding: 0.6em;
                border: 1px solid $secondary-blue;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 1em;
                resize: vertical;
                outline: none;
              }

              .btn-primary {
                margin-top: 1em;
        
                @include hover("background-color", $primary-blue, "color", $light-blue);
              }
        }
    }
}
