/* -------------------------------------------------------
                    Accueil header
---------------------------------------------------------*/

.header-image {
  position: relative;
  height: 45em;
  width: 100%;
  background-image: url(../assets/images/textbook.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  h1 {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $light-blue;
    font-family: "Chelsea Market", system-ui;
    font-weight: bold;
    font-size: 3rem;
    z-index: 2;
  }

  p {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $light-blue;
    font-size: 1.3rem;
    font-weight: 300;
    z-index: 3;
  }

  .btn-primary {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    clip-path: polygon(14% 0, 100% 0, 100% 38%, 34% 53%, 0 24%);
    z-index: 1;
    padding: 2em;

    box-shadow: $box-shadow-primary;
    -webkit-box-shadow: $box-shadow-primary;
    -moz-box-shadow: $box-shadow-primary;

    background: linear-gradient(
      to bottom,
      rgba(240, 84, 85, 0.5) 10%,
      rgba(132, 192, 225, 0.3) 20%,
      rgba(48, 71, 94, 0.3) 100%
    );
  }
}

/* -------------------------------------------------------
                Accueil header responsive
---------------------------------------------------------*/

/* Media queries for xs, sm, and md screens */
@media (min-width: 320px) and (max-width: 768px) {
  .header-image {
    background-size: cover;
    height: 25em;

    h1 {
      top: 8%;
      font-size: 1.4rem;
      width: 100%;
    }

    p {
      top: 25%;
      font-size: 0.9rem;
      width: 90%;
      line-height: 1.2em;
    }

    .btn-primary {
      top: 43%;
      text-align: center;
      font-size: small;
    }

    &::before {
      clip-path: polygon(0 0, 100% 0, 100% 40%, 50% 60%, 0% 40%);
      width: 100%;
      padding: 0;

      background: linear-gradient(
        to bottom,
        rgba(240, 84, 85, 0.5) 0,
        rgba(132, 192, 225, 0.3) 20%,
        rgba(48, 71, 94, 0.3) 100%
      );
    }
  }
}

@media (min-width: 769px) and (max-width: 1332px) {
  .header-image {
    background-size: cover;

    h1 {
      top: 15%;
      font-size: 2.6rem;
      width: 100%;
    }

    p {
      top: 28%;
      font-size: 1.3rem;
      width: 80%;
    }

    .btn-primary {
      top: 40%;
      text-align: center;
      font-size: larger;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &::before {
      width: 95%;
      padding: 1em;
    }
  }
}

/* ----------------------------------------------------------
                        Accueil header end
 ---------------------------------------------------------- */

/* ----------------------------------------------------------
                   Article preview - Livres
------------------------------------------------------------*/
.article-preview {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  padding: 4em 0;

  h2 {
    text-align: left;
    font-weight: 200;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 1.5em;
    padding: 0;

    span {
      font-weight: 600;
      color: $primary-red;
    }
  }

  .article-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3em;

    article {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        height: auto;
        width: 12em;
      }

      h3 {
        text-align: center;
        font-weight: 600;
        font-size: 1.2em;
        margin-top: 1em;
      }

      p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 1em;

        span {
          font-weight: 200;
          font-size: 0.9em;
          display: block;
          line-height: 1.2em;
        }
      }
    }
  }
}

/* ----------------------------------------------------------
                  Article preview - Livres end
------------------------------------------------------------*/
/* -----------------------------------------------------------
              Article preview - Livres responsive
------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 768px) {
  .article-preview {
    flex-direction: column;
    justify-content: center;

    h2 {
      text-align: center;
      font-size: 1.6em;
      margin: 1em auto;
    }

    .article-preview-container {
      flex-wrap: wrap;
    }
  }
}

@media (min-width: 769px) and (max-width: 1332px) {
  .article-preview {
    h2 {
      text-align: center;
      font-size: 1.6em;
      margin: 1em auto;
    }

    .article-preview-container {
      flex-wrap: wrap;
    }
  }
}
/* ----------------------------------------------------------
          Article preview - Livres responsive end
------------------------------------------------------------*/
/* -----------------------------------------------------------
                  Best-sellers paragraph
------------------------------------------------------------*/
.best-sellers {
  width: 100%;
  height: 25em;
  background-color: $primary-blue;
}
/* -----------------------------------------------------------
                Best-sellers paragraph end
------------------------------------------------------------*/
/* -----------------------------------------------------------
              Best-sellers paragraph responsive
------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1332px) {
}
/* -----------------------------------------------------------
            Best-sellers paragraph responsive end
------------------------------------------------------------*/
/* -----------------------------------------------------------
                  Edition special paragraph
------------------------------------------------------------*/
.edition-special {
  width: 100%;
  height: 25em;
  background-image: url(../assets/images/sign-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -----------------------------------------------------------
                Edition special paragraph end
------------------------------------------------------------*/
/* -----------------------------------------------------------
              Edition special paragraph responsive
------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1332px) {
}
/* -----------------------------------------------------------
          Edition special paragraph responsive end
------------------------------------------------------------*/
/* -----------------------------------------------------------
                      Advantage icons
------------------------------------------------------------*/
.advantage-icons {
  width: 100%;
  height: 25em;
  background-color: $tertiary-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -----------------------------------------------------------
                   Advantage icons end
------------------------------------------------------------*/
/* -----------------------------------------------------------
              Advantage icons responsive
------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1332px) {
}
/* -----------------------------------------------------------
              Advantage icons responsive end
------------------------------------------------------------*/
