@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -----------------------------------------------------------------
                            Login page
 ----------------------------------------------------------------- */
.login {
        h2 {
            font-weight: 100;
            font-size: 3em;
            color: red;
        }
}
