@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -----------------------------------------------------------------
                            Login page
 ----------------------------------------------------------------- */
#login-container {
  @include d-flex(flex, center, center, row, center);
  height: 40em;
  width: 100%;
  background-color: $primary-blue;
}

