// Define a mixin for hover
@mixin hover($property, $value) {
  &:hover {
    #{$property}: $value;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}

/* -------------------------------------------------------
                 Navbar upper section
---------------------------------------------------------*/
.navbar {
  background-color: $light-blue;
  padding: 1rem 1.5rem;
}

// Navbar container
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

// Logo
.navbar-brand-img {
  height: 3.5em;
}
// Logo end

// Social Icons
.social-nav {
  display: flex;
  flex-direction: row;

  .social-item {
    margin-right: 1rem;
    font-size: 1.1em;
    color: $primary-blue;

    .social-link {
      @include hover("color", $primary-red);
    }
  }
}
// Social Icons end

// Search bar
.search-group {
  display: flex;
  align-items: stretch;

  input[type="search"] {
    border: 1px solid $primary-blue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: smaller;
    font-style: italic;
    padding: 0.3rem;
    flex: 1;

    &:focus {
      box-shadow: 0 0 10px $secondary-blue;
      outline: none;
      border: 1px solid $secondary-blue;
    }
  }

  .btn-search {
    background-color: $primary-blue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: $light-blue;
    padding: 0.3rem 0.5rem;

    @include hover("background-color", $primary-red);
  }
}
// Search bar end

// Login button
.btn-login {
  background-color: $primary-red;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  color: $light-blue;

  @include hover("background-color", $primary-blue);
}
// Login button end

/* -------------------------------------------------------
               Navbar bottom section
---------------------------------------------------------*/
// Navbar Menu
.navbar-menu {
  background-color: $primary-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}

// Navbar Nav
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .nav-item {
    margin-right: 2em;

    .nav-link {
      color: $light-blue;
      padding: 0.8em;

      @include hover("background-color", $primary-red);
    }
  }
}

/* -------------------------------------------------------
                 Navbar responsive
---------------------------------------------------------*/

/* Media queries for xs, sm, and md screens */
@media (min-width: 320px) and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-container,
  .d-flex {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  /* Logo styles for small screens */
  .navbar-brand-img {
    height: 3.5em;
    margin-bottom: 0;
  }

  /* Social Icons styles for small screens */
  .social-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin: 0;
  }

  .social-item {
    margin-right: 0.5rem;

    .social-link {
      font-size: 1em;
      @include hover("color", $primary-red);
    }

    /* Search bar styles for small screens */
    .search-group {
      margin: 0;
    }

    /* Login button styles for small screens */
    .btn-login {
      padding: 0.5rem 2rem;
    }
  }

  /* -------------------------------------------------------
                 Offcanvas menu styles
---------------------------------------------------------*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $primary-blue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 1em;
      color: $light-blue;
      display: block;
      transition: 0.3s;

      @include hover("background-color", $primary-red);
    }

    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 2em;
      background-color: transparent;
      color: $light-blue; 
      transition: color 0.3s ease; 
  
      &:hover {
        background-color: transparent;
        color: $primary-red; 
      }
    }

    #hamburger {
      display: none;
      font-size: 2em;
      cursor: pointer;
    }

    /* Styles for smaller screens */
    @media (min-width: 320px) and (max-width: 768px) {
      #hamburger {
        display: block;
      }

      .navbar-menu {
        display: none;
      }
    }
  }
}

/* Styles for larger screens */
@media (min-width: 769px){
  #hamburger,
  .sidenav,
  .closebtn {
    display: none;
  }
}
