// Define a mixin for hover
@mixin hover($property, $value) {
  &:hover {
    #{$property}: $value;
  }
}

// Navbar upper section
.navbar {
  background-color: $light-blue;
  padding: 1rem 1rem 0;
}

// Navbar container
.navbar-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // Navbar container end

  // Logo
  .navbar-brand-img {
    height: 3em;
  }

  .d-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  // Social Icons
  .navbar-nav {
    display: flex;
    flex-direction: row;

    .nav-item {
      margin-right: 1rem;

      .nav-link {
        @include hover('color', $primary-red);

        &.fa-square-facebook,
        &.fa-x-twitter,
        &.fa-instagram {
          font-size: 1.5rem;

        }
      }
    }
  }

  // Social icons end

  // Search Form
  .form-search {
    display: flex;
    margin-right: 2rem;

    .input-group {
      position: relative;

      input[type="search"] {
        border: 1px solid $primary-blue;
        border-radius: 5px;
        font-size: smaller;
        font-style: italic;

        &:focus {
          border-color: $primary-blue;
          box-shadow: 0 0 5px $secondary-blue;
          z-index: 1;
          border-radius: 5px;
        }
      }

      .btn-search {
        background-color: $primary-blue;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        @include hover('background-color', $primary-red);
      }
    }
  }
}

// Search form end

// Login Button
.btn-login {
  background-color: $primary-red;

  @include hover('background-color', $primary-blue);
}

// Login button end


// Navbar lower section
// Navbar Menu
.navbar-menu {
  background-color: $primary-blue;
  height: 2em;
  margin-top: -1rem;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Navbar Menu end