<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom Sass file -->
    <link rel="stylesheet" href="../css/styles.css">

    <!-- Google Fonts Preconnect and Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Favicon -->

    <!-- Title -->
    <title>Librairie Lejeune</title>
</head>

<body>
    <!-- Footer -->
    <footer>
        <!-- Grid container -->
        <div class="upper-footer p-4 pb-0">
            <!-- Section: Links -->
            <section class="container">
                <!--Grid row-->
                <div class="row">
                    <!-- Logo column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 d-flex align-items-center">
                        <a href="../index.html" class="footer-brand">
                            <img src="../assets/logo/librairie-lejeune-white.png" alt="Librarie Lejeune Logo" />
                        </a>
                    </div>
                    <!-- Logo column end-->

                    <!--  Contact us column -->
                    <div class="col-md-2 col-lg-3 col-xl-3 mx-auto m-2">
                        <div class="text-uppercase mb-3 poppins-600">Contactez-nous</div>
                        <div class="footer-links d-flex flex-column">
                            <div class="row">
                                <div class="col-auto">
                                    <ul class="list-unstyled poppins-300 mb-1">
                                        <li>
                                            <a href="../public/contact.html" class="">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <ul class="list-unstyled poppins-300">
                                        <li class="mb-2">
                                            <i class="fa-regular fa-envelope"></i>
                                            <a href="mailto:contact@acelyalejeune.be">Envoyez-nous un message</a>
                                        </li>
                                        <li class="mb-2">
                                            <i class="fa fa-phone"></i>
                                            Téléphonez-nous au 0493 38 77 29
                                        </li>
                                        <li class="mb-2">
                                            <b>Permanence téléphonique:</b><br>
                                            Lundi au vendredi 09:00 - 18:00 <br>
                                            Samedi 09:00 - 16:00
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Contact us column end -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- About us column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto m-2">
                        <div class="text-uppercase mb-3 poppins-600">
                            À propos de nous
                        </div>
                        <div class="footer-links d-flex flex-column">
                            <ul class="list-unstyled poppins-300">
                                <li class="mb-2">
                                    <a href="../public/about-us.html">Qui
                                        sommes-nous?</a>
                                </li>
                                <li class="mb-2">
                                    <a href="../public/work-with-us.html">Travailler chez
                                        nous</a>
                                </li>
                                <li class="mb-2">
                                    <a href="../public/conditions.html">Conditions
                                        générales</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- About us column end -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Follow us column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto m-2">
                        <div class="text-uppercase mb-3 poppins-600">Suivez-nous sur</div>
                        <div class="footer-links d-flex flex-column">
                            <div class="footer-address mb-2">
                                <div class="poppins-300">
                                    Rejoignez-nous sur Facebook, Twitter et Instagram pour être tenus au courant de notre actualité.
                                </div>
                            </div>
                            <div class="social-icons mb-3">
                                <!-- Facebook -->
                                <a href="https://www.facebook.com/" class="text-secondary-blue dark:hover:text-primary-red">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <!-- Twitter -->
                                <a href="https://twitter.com" class="text-secondary-blue dark:hover:text-primary-red">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                                <!-- nstagram -->
                                <a href="https://instagram.com" class="text-secondary-blue dark:hover:text-primary-red">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
    
                            </div>
                            <div class="footer-address poppins-300">
                                <p>343 Rue Saint-Gilles <br> 4000 Liége - Belgique</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- Follow us column end-->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
        <!-- Section: Copyright -->
        <section class="bottom-footer p-2">
            <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-5 col-lg-7 text-center text-md-start">
                    <!-- Copyright -->
                    <div class=" p-3">
                        © 2024 Copyright tous droits réservés
                    </div>
                    <!-- Copyright -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="p-3 col-md-7 col-lg-5 ml-lg-0 text-center text-md-end">
                    Conception et développement par
                    <a href="https://github.com/lejeunea" class="github text-decoration-none">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="https://github.com/lejeunea" class="text-decoration-none">Açelya Lejeune</a>.

                </div>
                <!-- Grid column -->
            </div>
        </section>
        <!-- Section: Copyright -->

    </footer>
    <!-- Footer -->


    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/3546d47201.js" crossorigin="anonymous"></script>

    <!-- Include functions.js -->
    <script src="../js/functions.js"></script>
</body>

</html>